* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  margin: 0;
  background: #e2e2e2;
}


#campoNomeProduto {
  border-radius: 10px;
  outline: none;
  width: 430px;
  height: 37px;
  text-align: center;
  position: absolute;
}


.click{
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 44px;
  width: 89px;
  font: bold 15px arial, sans-serif;
  text-shadow: none;
  margin: 28px;
  }

#total {  
  padding-right: 77vh;
  float: right;
  color: #312db3;
  font-size: 22px;
  font: bold 22px arial, sans-serif;
}

.quadro-direito {
  color: #312db3;
  font-size: 22px;
  float: right;
}

#lista-itens {
  list-style-type: none;
}